In [10]:
s=input("Enter: ")
s=s.replace('a','e')
s=s.replace('b','f')
s=s.replace('g','k')
print(s)

Enter: lllaa
lllee

In [15]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [21]:
my=""
table=my.maketrans('abc','edf')
s=input("Enter: ")
s.translate(table)

Enter: aassccddggbb

'eessffddggdd'

In [27]:
my=""
table=my.maketrans('0123456789','1234567890')
s=input("Enter: ")
s.translate(table)

Enter: V sss123

'V sss234'

In [28]:
s='V1h2A3 hi hello'
s.title()

'V1H2A3 Hi Hello'

In [33]:
my=""
table=my.maketrans('a','a','!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~')
s=input("Enter: ")
s.translate(table)

Enter: aala

'aala'

In [36]:
t=tuple('hello')
print(type(t))
print(t)

<class 'tuple'>
('h', 'e', 'l', 'l', 'o')

In [41]:
t=(1, )
print(len(t))

1

In [43]:
t=(1,"Hello",'',[1,2],len('hello'))
print(t)

(1, 'Hello', '', [1, 2], 5)

In [49]:
t=(1,2,3,4,5)
t[-1]

5

In [97]:
t=((1,2),'Hello',(3,4),5,len('hrllo'))
'H' in t

False

In [98]:
t=(1,2,3,4,5,6)
for i in t:
    print(i)

1
2
3
4
5
6

In [103]:
t=((1,2),(3,4),(5,6,7))
print(tuple(enumerate(t)))

((0, (1, 2)), (1, (3, 4)), (2, (5, 6, 7)))

In [82]:
t=(((1,2),(3,4)),((5,6))) 
t[0][1][1]

4

In [90]:
t=(1,2,3,[2])
t[-1][0]=10
print(t*2)

(1, 2, 3, [10], 1, 2, 3, [10])

In [104]:
(2,'abc')>(2,'ABC')

True

In [108]:
t=('abc','vishal','Hi','Hello')
sorted(t,key=len)

['Hi', 'abc', 'Hello', 'vishal']

In [114]:
t=(i for i in range(1,100))
print(tuple(t))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99)

In [121]:
t=(1,2,3,4,2,3,2)
t.count(2)

3

In [122]:
t=(1,2,3,4,2,3,2)
t.index(2)

1

In [130]:
t=eval(input("eNTER tuple"))
print(t)
f=()
for i in t:
    if i%2!=0:
        f=f+(i,)
print(f)

eNTER tuple( 1,2,3,4,5,7,9,11)
(1, 2, 3, 4, 5, 7, 9, 11)
(1, 3, 5, 7, 9, 11)